.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 600;
    li {
      a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      &:hover {
        a {
          color: #ff5f15;
        }
      }
    }
  }
}
.page__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
