.gugudan {
    width: 340px;
    &__quest {
        margin:20px 0 10px;
        background-color: #efefef;
        width:100%;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        text-align: left;
    }
    &__answer {
        display: flex; 
        align-items: center;
        gap: 10px;
        input {
            display: block;
            border:1px solid #ddd;
            border-radius: 5px; 
            width: 60%;
            height: 40px;
            padding: 5px 10px;
        }
        button {
            padding: 5px 20px;
            width: calc(40% - 10px);
            border-radius: 5px; 
            height: 40px;
            background-color: #000;
            color:#fff;
        }
    }
}