.header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    background-color: #efefef;
    gap: 30px;
  
    h1 {
      font-size: 22px;
      font-weight: 900;
    }
    .util_menu {
        display: flex;
        align-items: center;
        gap:10px;
        
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border:none;
            background: #000;
            color:#fff;
            padding: 4px 20px;
        }
    }
  
  }