.header {
    margin: 10px auto 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 5px;
    width: 98%;
    background-color: #efefef;
    gap: 30px;
  
    h1 {
      font-size: 22px;
      font-weight: 900;
    }
  
  }